*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page {
  font-family: $ff-placeholder;
  font-size: 10px;
  font-weight: 400;
  color: $black-rock;

  height: 100%;
}

.page-body {
  // Прижимаем подвал к низу страницы
  display: flex;
  flex-direction: column;
  min-height: 100%;

  background-color: $white;
}

.main {
  // Прижимаем подвал к низу страницы
  flex: 1 1 auto;
}

// Общие стили

