// Colors
// ---------------------------------
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

// Default

$white:                  #ffffff;
$black:                  #0c0c0c;
$black-rock:             #2f3035;
$lavender:               #f0f0f4;
$denim:                  #1C62CD;
$very-light-grey:        #cdcdcd;
$curious-blue:           #2783b0;
$silver:                 #c4c4c4;
$tuna:                   #48494D;


// Typography
// ---------------------------------

$ff-placeholder:         "San Francisco", "Arial", sans-serif;
$second-ff-placeholder:  "Barlow", "Arial", sans-serif;

// Viewports
// ---------------------------------

$vp-1200:                1200px;
$vp-767:                 767px;
