// Colors
// ---------------------------------
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

// Default

$white:                                   #ffffff;
$black:                                   #0c0c0c;
$black-rock:                              #2f3035;
$lavender:                                #f0f0f4;
$denim:                                   #1C62CD;
$very-light-grey:                         #cdcdcd;
$curious-blue:                            #2783b0;
$silver:                                  #c4c4c4;
$tuna:                                    #48494D;
$ghost:                                   #BDBEC2;
$fiord:                                   #50626C;

$persian-red:                             #ce3f3f;
$forest-green:                            #1ba81b;
$mantis:                                  #71E447;
$raw-umber:                               #805400;
$tonys-pink:                              #E8A596;
$primrose:                                #E1D786;
$crusta:                                  #f68050;
$maya-blue:                               #83B7F3;
$mandy:                                   #C45A5F;
$dodger-blue:                             #009aff;
$shamrock-green:                          #009956;

// linear-gradient

$white-to-blue:                           linear-gradient(90deg, #64adca 0, rgba(255, 255, 255, 0) 100%);
$white-to-darken-blue:                    linear-gradient(90deg, #647eca 0, rgba(255, 255, 255, 0) 100%);
$blue-to-white:                           linear-gradient(270deg, #64adca 0, rgba(255, 255, 255, 0) 100%);
$darken-blue-to-white:                    linear-gradient(270deg, #647eca 0, rgba(255, 255, 255, 0) 100%);

// box-shadow

$order-step-active:                      rgba(28, 98, 205, 0.3) 0px 19px 38px, rgba(28, 98, 205, 0.22) 0px 15px 12px;


// Typography
// ---------------------------------

$ff-placeholder:                          "San Francisco", "Arial", sans-serif;
$second-ff-placeholder:                   "Barlow", "Arial", sans-serif;

// Viewports
// ---------------------------------

// Отключение эффектов при наведении
$vp-1200:                                 1200px;

// Брейкпоинты
// ---------------------------------

// Планшеты
$vp-1199:                                 1199px;

// Планшет в альбомной ориентации
$vp-1023:                                 1023px;

// Планшет и мобилка
$vp-899:                                  899px;

// Смартфоны
$vp-767:                                  767px;
$vp-479:                                  479px;

// Ретина
// ---------------------------------

$retina-dppx:                             2dppx;

// z-index
// ---------------------------------

$filter-header-mobile:                    30;
$catalog-filter-mobile:                   29;

$burger-menu:                             28;
$mobile-nav:                              28;
// $burger-circle:                           25;

$product-icons-hint:                      10;
$intro-slider-btns:                       10;
$search-icon-btn:                         5;

$sort-popup-mobile:                       35;
$page-body-shadow:                        33;
// $header-bar:                              27;

$product-info-btn:                        5;

$modal-login:                             5;
$modal-login-btn-submit:                  6;
$modal-login-btn-submit-bcg:              -1;

$modal-wrapper:                           30;


$order-step:                              5;


