.breadcrumbs {
  margin-top: 4.3rem;
  margin-bottom: 4.1rem;
}

.breadcrumbs__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;

  font-size: 1.5rem;
  line-height: 1.2;

  @include viewport-767 {
    flex-wrap: nowrap;
    overflow: auto;
  }
}

.breadcrumbs__list li {
  padding-right: 16px;

  position: relative;

  @include viewport-767 {
    flex-shrink: 0;
  }

  &::after {
    content: '';

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    background-image: url('../img/decorative/breadcrumbs-arrow.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 6px;
    height: 10px;
  }
}

.breadcrumbs__list li:last-child::after {
  display: none;
}

.breadcrumbs__list a {
  color: $silver;
  text-decoration: none;

  transition: color 0.3s linear;

  @include effects-off {
    &:hover,
    &:focus {
      color: $denim;
    }

    &:active {
      color: darken($denim, 15%);
    }
  }

  &:active {
    color: darken($denim, 15%);
  }
}

.breadcrumbs__link.is-active {
  cursor: default;

  @include effects-off {
    &:hover,
    &:focus {
      color: $silver;
    }

    &:active {
      color: $silver;
    }
  }

  &:active {
    color: $silver;
  }
}
