.card-good {
  position: relative;
  padding-top: 65px;

  @include viewport-767 {
    padding-top: 35px;
  }
}

.card-good .popular-product__indicator {
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: 0.12em;
  padding: 13px 26px;
  border-radius: 3px;

  @include viewport-767 {
    font-size: 1.2rem;
    padding: 8px 15px;
    letter-spacing: 0.07em;
  }
}

.card-good.sale-pointer .popular-product__indicator {
  display: block;
}

.card-good__image {
  width: 500px;
  height: 375px;
  margin-bottom: 17px;

  @include viewport-767 {
    width: 250px;
    height: 188px;

    margin: 0 auto;
  }
}

.card-good__image img {
  width: 100%;
  height: 100%;
}

.card-good__price {
  font-family: $second-ff-placeholder;
  text-align: center;
  padding: 0 45px;

  @include viewport-767 {
    padding: 0 15px;
  }
}

.card-good__price-old {
  font-size: 3rem;
  line-height: 1.2;
  color: $black;
  opacity: 0.6;
  margin-bottom: 6px;

  // Для удобства позиционирования косой черты
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 40%;
    transform: translateY(-50%) rotate(-8deg);

    width: 100%;
    height: 2px;
    background-color: #2f3035;
  }
}

.card-good__price-new {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
}

.card-good__price-new p,
.card-good__price-old p {
  display: inline-block;
  margin: 0;
}

.card-good__price button {
  font-family: $ff-placeholder;
  font-size: 1.5rem;
  line-height: 1.2;
  color: $denim;

  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-top: 17px;

  transition: color 0.2s ease;

  @include effects-off {

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      color: $persian-red;
      text-decoration: none;
    }
  }

  &:active {
    color: $persian-red;
    text-decoration: none;
  }
}
