.common-nav {
  font-weight: 700;

  // max-width: 430px;

  // Чтобы не упиралась в логотип при переполнении
  margin-right: 20px;

  @include viewport-899 {
    display: none;
  }
}

.common-nav__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 1.5rem;

  @include viewport-1199 {
    column-gap: 2rem;
  }

  @include viewport-1023 {
    column-gap: 1.5rem;
  }
}

.common-nav a {
  @include effects-off {
    &:hover,
    &:focus {
      color: $denim;
    }

    &:active {
      color: lighten($denim, 20%);
    }
  }

  &:active {
    color: lighten($denim, 20%);
  }
}
