.directory {
  margin-bottom: 8rem;
}

.directory__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;

  @include viewport-767 {
    display: flex;
    flex-direction: column;
  }
}

// .chapter {
//   min-height: 129px;
// }

.chapter__image {
  margin: auto;
  flex-shrink: 0;
}

.chapter--quad-bike .chapter__image {
  width: 130px;
  height: 100px;

  @include viewport-767 {
    width: 90px;
    height: 69px;
  }
}

.chapter--jet-ski .chapter__image {
  width: 152px;
  height: 81px;

  @include viewport-767 {
    width: 121px;
    height: 65px;
  }
}

.chapter--boat .chapter__image {
  width: 207px;
  height: 101px;

  @include viewport-767 {
    width: 154px;
    height: 76px;
  }
}

.chapter--snowmobile .chapter__image {
  width: 165px;
  height: 105px;

  @include viewport-767 {
    width: 121px;
    height: 77px;
  }
}

.chapter--offroadmobile .chapter__image {
  width: 157px;
  height: 101px;

  @include viewport-767 {
    width: 117px;
    height: 75px;
  }
}

.chapter--engine .chapter__image {
  width: 66px;
  height: 113px;

  @include viewport-767 {
    width: 60px;
    height: 103px;
  }
}

.chapter img {
  width: 100%;
  height: 100%;
}

.chapter__link {
  color: $black-rock;
  text-decoration: none;

  display: flex;
  justify-content: space-between;
  height: 100%;
  min-height: 129px;

  border: 1px solid $very-light-grey;
  border-radius: 3px;

  padding: 13px 20px;

  transition: box-shadow 0.3s linear, transform 0.3s linear;

  @include effects-off {

    &:hover,
    &:focus {
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      border-color: transparent;
      transform: scale(1.1);
    }

    &:active {
      color: $denim;
    }
  }

  &:active {
    color: $denim;
  }
}

.chapter--snowmobile .chapter__link,
.chapter--offroadmobile .chapter__link,
.chapter--engine .chapter__link {
  padding: 7px 20px;
}

.chapter__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chapter__info h3 {
  font-family: $second-ff-placeholder;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 1.2;

  margin: 0;

  transition: color 0.3s linear;
}

.chapter__link:hover h3,
.chapter__link:focus h3 {
  @include effects-off {
    color: $denim;
  }
}

.chapter__info span {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.2;
  color: $silver;
  padding-right: 10px;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    background-image: url("../img/decorative/arrow-more.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 6px;
    height: 9px;
  }
}
