.form-group-address {
  position: relative;
}

.form-group-address__presearch__controls.presearch__controls .form-group-address__reset-btn {
  background-color: $mandy;
  border-radius: 10px 0 0 10px;
  width: 35px;
  height: 30px;
}

.form-group-address__reset-btn svg {
  fill: $white;
  width: 14px;
  height: 14px;
}

.form-group-address__presearch__controls.presearch__controls .form-group-address__reset-btn {
  @include effects-off {

    &:hover,
    &:focus {
      background-color: darken($mandy, 10%);
    }

    &:active {
      background-color: lighten($mandy, 15%);
    }
  }

  &:active {
    background-color: lighten($mandy, 15%);
  }
}

.form-group-address__presearch__controls.presearch__controls {
  right: 0px;
  top: 40%;
  transform: translateY(-70%);
}

.form-group-address__presearch__controls.presearch__controls .form-group-address__search-btn {
  background-color: $denim;
  border-radius: 0 10px 10px 0;
  width: 35px;
  height: 30px;
}

.form-group-address__search-btn svg {
  width: 18px;
  height: 18px;
  fill: $white;
}

.form-group-address__presearch__controls.presearch__controls .form-group-address__search-btn {
  @include effects-off {

    &:hover,
    &:focus {
      background-color: darken($denim, 10%);
    }

    &:active {
      background-color: lighten($denim, 15%);
    }
  }

  &:active {
    background-color: lighten($denim, 15%);
  }
}
