.intro {
  margin-bottom: 7.7rem;
  margin-top: 7.8rem;
}

.intro__wrapper {
  display: flex;
  column-gap: 36px;
}

.intro-slider {
  // Для кнопок
  position: relative;

  // Скрываем слайды
  overflow: hidden;

  width: 869px;
  height: 400px;
}

.intro-slider__list {
  @include reset-list;

  display: flex;
}

.intro-slider__item a {
  display: block;
  width: 870px;
  height: 400px;

  // Если изображение не прогрузится
  background-color: $curious-blue;
}

.intro-slider__item img {
  width: 100%;
  height: 100%;
}

// Общие стили
.intro-slider__btn {
  position: absolute;
  top: 0;

  // Для большего удобства отступим от макета
  width: 60px;
  height: 100%;

  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  z-index: $intro-slider-btns;

  &--prev {
    left: 0;

    @include effects-off {

      &:hover,
      &:focus {
        background: $white-to-blue;
      }

      // &:hover::after,
      // &:focus::after {
      //   width: 100%;
      //   left: 0;
      // }

      &:active {
        background: $white-to-darken-blue;
      }
    }

    &:active {
      background: $white-to-darken-blue;
    }
  }

  &--next {
    right: 0;

    @include effects-off {

      &:hover,
      &:focus {
        background: $blue-to-white;

      }

      // &:hover::after,
      // &:focus::after {
      //   width: 100%;
      //   left: 0;
      // }

      &:active {
        background: $darken-blue-to-white;
      }
    }

    &:active {
      background: $darken-blue-to-white;
    }
  }

  &--prev::after,
  &--next::after {
    display: block;

    content: "";
    position: absolute;
    width: 15px;
    height: 28px;

    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--prev::after {
    background-image: url("../img/decorative/right-arrow.svg");
    transform: rotate(180deg);
    left: 20px;
  }

  &--next::after {
    background-image: url("../img/decorative/right-arrow.svg");
    right: 20px;
  }

  &:disabled {
    background: transparent;
    cursor: default;

    &::after {
      opacity: 0.5;
    }
  }
}

// intro-slider__pagination

.intro-slider__pagination {
  display: flex;
  column-gap: 9px;

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

.intro-slider__pagination .swiper-pagination-bullet {
  display: block;
  width: 11px;
  height: 11px;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 50%;
  cursor: pointer;
}

.intro-slider__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $white;
  border: none;
}
