.likes button {
  line-height: 0;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;

  display: inline-flex;
  column-gap: 5px;
  align-items: center;
}

.likes__like {
  margin-right: 10px;

  @include effects-off {

    &:hover,
    &:focus {
      fill: $forest-green;
    }

    &:active {
      fill: darken($forest-green, 15%);
    }
  }

  &:active {
    fill: darken($forest-green, 15%);
  }
}

.likes__count-like {
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.2;
  color: $forest-green;
  background-color: #f0f8e1;
  padding: 8px;
}

.likes__dislike svg {
  transform: rotate(180deg);
}

.likes__dislike {
  @include effects-off {

    &:hover,
    &:focus {
      fill: $persian-red;
    }

    &:active {
      fill: darken($persian-red, 20%);
    }
  }

  &:active {
    fill: darken($persian-red, 20%);
  }
}

.likes__count-dislike {
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.2;
  color: $persian-red;
  background-color: #f8e6e1;
  padding: 8px;
}
