.basket-page .order-steps {
  display: none;
}

.basket-page.is-fill .order-steps {
  display: block;
  padding: 40px 0;
}

.order-steps__empty-indicator {
  position: relative;

  display: flex;
  justify-content: center;
}

.order-steps__list {
  @include reset-list;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  height: 10px;
  background-color: $very-light-grey;
  border-radius: 10px;

  @include viewport-479 {
    width: 100%;
  }
}

.order-steps__item span {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $very-light-grey;

  position: relative;
  z-index: $order-step;

  @include viewport-479 {
    width: 50px;
    height: 50px;
  }
}

.order-steps__item.is-active span {
  background-color: $denim;
  box-shadow: $order-step-active;
}

.order-steps__item svg {
  fill: transparent;
  stroke: white;
  stroke-width: 1.5px;
  width: 30px;
  height: 30px;

  @include viewport-479 {
    width: 25px;
    height: 25px;
  }
}

// .order-steps__item--basket svg {
//   fill: transparent;
//   stroke: white;
//   stroke-width: 1.5px;
//   width: 30px;
//   height: 30px;
// }

// .order-steps__item--delivery svg {
//   fill: transparent;
//   stroke: white;
//   stroke-width: 1.5px;
//   width: 28px;
//   height: 28px;
// }

// .order-steps__item--payment svg {
//   fill: transparent;
//   stroke: white;
//   stroke-width: 1.5px;
//   width: 28px;
//   height: 28px;
// }

// .order-steps__item--confirmation svg {
//   fill: transparent;
//   stroke: white;
//   stroke-width: 1.5px;
//   width: 28px;
//   height: 28px;
// }

.order-steps__fill-indicator {
  position: absolute;
  left: 5%;
  top: 0;

  background-color: $denim;
  width: 0;
  height: 100%;
  border-radius: 10px;

  @include viewport-479 {
    left: 0;
  }
}
