.sale-banner {
  margin-bottom: 72px;
}

.sale-banner__link {
  display: block;
  background-color: $denim;
  background-image: url('../img/background/sale-banner.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100%;
  height: 165px;

  @include viewport-767 {
    background-image: url('../img/background/sale-banner-mobile.png');
    height: 90px;
  }
}
