.site-nav {
  background: $lavender;

  // Скрываем навигацию по сайту(плашку каталога товаров)
  @include viewport-767 {
    display: none;
  }
}

// На главной странице показываем и в моб.версии и в десктопной
.page-body.main-page .nav.site-nav {
  display: block;
}

.site-nav__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 5rem;
  // row-gap: 1.5rem;

  @include viewport-1199 {
    column-gap: 3rem;
  }

  @include viewport-1023 {
    column-gap: 2rem;
  }

  @include viewport-899 {
    flex-wrap: nowrap;
    overflow: auto;
    column-gap: 3rem;

    font-weight: 700;
  }
}

.site-nav a {
  display: block;
  // Чтобы крайний элемент прижался к краю блока
  padding: 15px 0;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;

    width: 0;
    height: 3px;
    background-color: $denim;

    transition: width 0.3s linear;
  }

  @include effects-off {

    &:hover,
    &:focus {
      // font-weight: 600;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
      left: 0;
    }

    &:active {
      color: $denim;
    }
  }

  &:active {
    color: $denim;
  }
}
