.social {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 1.5rem;

  max-width: 210px;
  margin: 37px 76px 0 0;

  @include viewport-767 {
    justify-content: center;
    max-width: none;
    width: 100%;

    background-color: #fff;
    margin: 0;
    padding-top: 40px;
  }
}

.social__link {
  display: block;
  font-size: 0;

  fill: $black-rock;

  transition: fill 0.1s linear;
}

.social__link--instagram {
  @include effects-off {

    &:hover,
    &:focus {
      fill: $persian-red;
    }

    &:active {
      fill: $persian-red;
    }
  }

  &:active {
    fill: $persian-red;
  }
}

.social__link--vk {
  @include effects-off {

    &:hover,
    &:focus {
      fill: $denim;
    }

    &:active {
      fill: $denim;
    }
  }

  &:active {
    fill: $denim;
  }
}

.social__link--facebook {
  @include effects-off {

    &:hover,
    &:focus {
      fill: $denim;
    }

    &:active {
      fill: $denim;
    }
  }

  &:active {
    fill: $denim;
  }
}

.social__link--youtube {
  @include effects-off {

    &:hover,
    &:focus {
      fill: $persian-red;
    }

    &:active {
      fill: $persian-red;
    }
  }

  &:active {
    fill: $persian-red;
  }
}
