.user-nav {
  // max-width: 125px;

  // Выравнивание в грид сетке
  justify-self: end;
}

.user-nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
}

.user-nav__list li:first-child {
  margin-right: 8.6rem;

  @include viewport-1199 {
    margin-right: 3rem;
  }

  @include viewport-1023 {
    margin-right: 2rem;
  }

  @include viewport-767 {
    display: none;
  }
}


.user-nav__link {
  display: block;
  line-height: 0;
}

.user-nav__link--favourites {
  position: relative;

  fill: $white;
  stroke: $black;
  stroke-width: 2px;
}

.user-nav__link--basket {
  position: relative;
  padding-right: 23px;

  fill: $black-rock;
}
.user-nav__link--favourites span ,
.user-nav__link--basket span {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  background-color: #1C62CD;
  color: #fff;
  border-radius: 50%;

  position: absolute;
  top: 0px;
  right: 8px;
}

.user-nav__link.user-nav__link--profile {
  display: none;
}

.user-nav__link.user-nav__link--sign-in {
  @include reset-button;

  width: 25px;
  height: 27px;
}

